@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

.title {
  text-align: center;
  margin: 25px 0;
}
header {
  background-image: url('assets/8bitsky.webp');
  grid-column: span 3;
}
.subheader {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin: 0 2vw;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 8fr 75px;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: burlywood;
  background: url('https://www.americanpac.com/images/rustic_panels/swamp-cypress/swampland-cypress-wood-wall-paneling.jpg');
  background-size: 10% 100%;
}

.lives > img {
  max-height: 30px;
  max-width: 30px;
  margin: 0 10px;
}

main {
  background-color: rgb(255, 241, 237);
  background-image: url('assets/8bitground.jpeg');
  grid-column: 2 / 3;

}

.instructions {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: space-around;
  text-align: center;
  line-height: 25px;
 
}

.sub-instructions > p{
  margin-top: 2rem;
  color: white
}

footer {
  display: flex;
  background-image: url('assets/8bitgrass.jpeg');
  grid-row: 3;
  grid-column: 1 / 4;
  align-items: center;
  justify-content: space-around;
}

footer > img {
  max-height: 75px;
  grid-column: 2;
  border-radius: 50%;
  transition: ease 200ms;
}

.guy {
  background-position-x: center;
  position: absolute;
  max-height: 100px;
  left: 50%;
  top: 50%;
  transition: ease 200ms;
  display: none;
}

#fired {
  background-color: white;
}


.bat{
  max-height: 50px;
  transition: ease 100ms;
  position: absolute;
}

.absolute{
  position: absolute;
}

.modal{
  position: fixed;
  width: 50%;
  height: 74%;
  left: 25%;
  top: 13%;
  background-color: rgb(238 247	255	);
}

.modal > h2{
  margin-top: 3rem;
text-align: center;
}

.modal > p {
text-align: center;
margin: 2rem 3rem;
line-height: 20px;
letter-spacing: 2px;
}

.selected{
  background-color: black;
}

.start-btn{
padding: 1rem;
position: absolute;
width: 40%;
bottom: 5%;
font-size: 1.1rem;
}

.attack{
  left: 5%;
}
.defense{
  right: 5%;
}

strong {
font-size: 1.2rem;
}

@media screen and (max-height: 900px) {

  .modal{
    background-color: rgba(255, 255, 255, 0);
  }
  }

