* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin: 25px 0;
}
header {
  background-color: aliceblue;
  grid-column: span 3;
}
.subheader {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin: 0 2vw;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 8fr 75px;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: burlywood;
}

.lives > img {
  max-height: 30px;
  max-width: 30px;
}

main {
  background-color: rgb(124, 121, 126);
  grid-column: 2 / 3;
}

footer {
  display: flex;
  background-color: rgb(216, 234, 178);
  grid-row: 3;
  grid-column: 1 / 4;
  align-items: center;
  justify-content: space-around;
}

footer > img {
  max-height: 75px;
  grid-column: 2;
  border-radius: 50%;
  transition: ease 200ms;
}


.guy {
  background-position-x: center;
  position: absolute;
  max-height: 100px;
  left: 50%;
  top: 50%;
  
}


.fired{
  background-color: black;
}